@font-face {
  font-family: "Fredoka";
  src: url("/fonts/Fredoka-Variable.ttf") format("truetype");
  font-weight: 100 400;
  font-style: normal;
}

:root {
  --background-primary-color: #23241f;
  --background-secondary-color: #e1bd7b;
  --button-primary-color: #aa682e;
  --button-secondary-color: #2f6b75;
  --button-text-color: #ebd3a4;
  --text-color: white;
}

body {
  font-family: "Fredoka", sans-serif;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.7 rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
}

.button-title {
  width: auto;
  height: auto;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: #3f515a;
  color: var(--button-text-color);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.card {
  width: 160px;
  height: 220px;
  background-color: white;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  cursor: pointer;
}

.card-image {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  min-height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1 rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  .button-title {
    width: auto;
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #3f515a;
    color: var(--button-text-color);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
  }
}
