body {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #23241f;
}
.guide {
  display: flex;
  flex-direction: column;
}
.flower-guitar {
  width: 100%;
  height: auto;
  display: block;
}

main .when-button {
  border-radius: 45px;
  background-color: #aa682e;
  font-size: 3rem;
  display: block;
  margin: auto;
  width: 28rem;
  height: 6rem;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-action {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  padding: 3rem;
  margin-left: 30px;
  color: white;
}

.user-action div {
  display: flex;
}

.user-action p {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.user-action img {
  width: 24px;
  height: auto;
  margin: 10px;
}

@media screen and (width <= 1024px) {
  .user-action {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
    padding: 3rem;
    padding-right: 7rem;
    color: white;
    font-size: 1.5rem;
    place-items: center;
    align-items: center;
  }
}
