#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide {
  display: flex;
  flex-direction: column;
}
.flower-guitar {
  width: 90%;
  height: auto;
  display: block;
}

.user-action {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  padding: 3rem;
  margin-left: 30px;
  color: white;
}

.user-action div {
  display: flex;
}

.user-action p {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.user-action img {
  width: 40px;
  height: auto;
  margin: 10px;
}

@media screen and (width <= 1024px) {
  .user-action {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
    padding: 3rem;
    padding-right: 7rem;
    color: white;
    font-size: 1.5rem;
    place-items: center;
    align-items: center;
  }
}
