.event-details {
  background-color: var(--background-secondary-color);
}

section {
  padding: 40px;
}

.event-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.event-header h1 {
  color: var(--title-primary-color);
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  padding-left: 47px;
  padding-top: 66px;
  padding-bottom: 50px;
}

.poster-event {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.event-header .music-style {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  align-items: end;
  transform: rotate(345deg);
  font-size: 50px;
  border: 2px solid white;
  width: fit-content;
  padding: 20px;
  background-color: var(--button-text-color);
}

.header-style {
  padding-left: 136px;
}

.date {
  display: flex;
  grid-column: 1 / 2;
  justify-content: flex-start;
  padding-left: 50px;
  gap: 20px;
  align-items: center;
}

.date-event {
  align-items: end;
  font-size: 2rem;
}

.date-icon {
  width: 2rem;
  height: auto;
}

.hour {
  display: flex;
  grid-column: 1 / 2;
  justify-content: flex-start;
  padding-left: 53px;
  gap: 20px;
  align-items: center;
}

.hour-event {
  align-items: end;
  font-size: 2rem;
}

.hour-icon {
  width: 1.6rem;
  height: auto;
}

.bar {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  gap: 20px;
  align-items: center;
}

.localisation-icon {
  width: 2rem;
  height: auto;
  color: white;
}

.bar-title {
  font-size: 2rem;
}

.bar-address {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  padding-left: 3.2rem;
  padding-top: 1rem;
}

.bar-address p {
  font-size: 1.4rem;
}

.description-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding-top: 80px;
  padding-right: 60px;
}

.description-container p {
  align-content: center;
}

.event-description {
  font-size: 1.5rem;
}

.description-container .about {
  font-size: 2rem;
  transform: rotate(-15deg);
}

.artist {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 2rem;
  transform: rotate(-15deg);
  height: 50px;
  padding-top: 53px;
}

.groups-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  font-size: 2rem;
  padding-top: 100px;
}

.map-container {
  height: 400px;
  width: 100%;
  margin-top: 3rem;
}

.participate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 833px) {
  section {
    display: block;
  }

  .event-header {
    display: grid;
    max-width: 100vw;
    grid-template-rows: auto;
    width: 100%;
    padding: 0rem;
  }

  .poster-event {
    grid-column: 1 / -1;
    border-radius: 0rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
    grid-row: 1;
  }

  .header-style {
    padding-left: 0;
  }

  .date-event {
    font-size: 1rem;
  }

  .hour-event {
    font-size: 1rem;
  }

  .bar-name {
    font-size: 1rem;
  }

  section p {
    font-size: 1rem;
  }
  .bar-address p {
    font-size: 1rem;
  }
  .date-icon {
    width: 3rem;
  }
  .artist {
    padding-right: 20px;
  }
  .participate {
    padding-left: 20px;
  }
}
