.events {
  display: flex;
  justify-content: flex-start;
}

.filters {
  white-space: nowrap;
}

.event-list {
  width: 66%;
  background-color: #ebd2a4;
  border-radius: 20px;
  margin-left: 50px;
  margin-bottom: 100px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.filters-searchbar {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;
}

.search-bar {
  border: none;
  border-radius: 35px;
  margin: auto;
  background-color: #ebd2a4;
  font-size: 1rem;
  width: 38rem;
  max-width: 600px;
  height: 4.5rem;
  padding: 20px;
}

.left-bar {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
}

.menu-button h1 {
  background-color: #aa682e;
  width: 21vw;
  height: 3rem;
  text-align: center;
  border-radius: 25px;
  font-size: 1.5rem;
  padding-top: 9px;
  margin-bottom: 5px;
}

.filters-checkbox {
  display: flex;
  flex-direction: column;
  width: 21vw;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  border: 2rem solid #e4c2a5;
  gap: 0.5rem;
}

.filters-checkbox label span {
  color: black;
}

.filters-checkbox label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.up-datepicker {
  position: absolute;
  right: 15%;
  top: 50%;
  z-index: 10;
}

.event-list {
  width: 70vw;
  background-color: #ebd2a4;
  border-radius: 20px;
  margin-left: 17px;
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 45px;
}

.event-left-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .event-left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .up-datepicker {
    position: absolute;
    right: 38vw;
    z-index: 10;
  }

  .filters-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: auto;
  }
  .left-bar {
    align-items: center;
  }
}
