footer {
  background-color: var(--background-primary-color);
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  padding: 20px 10px;
  gap: 20px;
}

.networks {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.follow-us {
  color: white;
}

.legal-notices {
  color: white;
}

.image-social-logo {
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
}

.image-social-logo img {
  width: 30px;
  height: 30px;
}

footer section p {
  color: white;
  font-size: 16px;
}

.subscribers {
  background-color: #d9d9d9;
  border-radius: 45px;
  width: 12rem;
  height: 3rem;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-subscribers {
  color: black;
}

.subscribers p {
  text-align: center;
  padding: 5px;
}

.button-subscribers {
  background-color: #2f6b75;
  border-radius: 25px;
  width: 18rem;
  height: 4rem;
  color: white;
}

.top-page {
  background-color: #e4c2a5;
  border-radius: 25px;
  width: 10rem;
  height: 4rem;
  color: black;
  margin-bottom: 1rem;
}

.footer-middle-container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.info-song2bar {
  grid-column: 3/4;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.paragraph-song2bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.info-song2bar p {
  font-size: 11px;
}

.newletter-song2bar {
  display: flex;
  gap: 10px;
}

.newletter p {
  color: #aa682e;
}

.song2bar p {
  color: #2f6b75;
}

.about-contact {
  display: flex;
  gap: 50px;
}

.about p {
  color: #aa682e;
}

.contact p {
  color: #2f6b75;
}

@media screen and (width <= 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 40rem;
  }

  .footer-images {
    justify-content: space-evenly;
    margin-left: 0rem;
  }

  .network {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-song2bar p {
    font-size: 1rem;
  }
}
