.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 2rem;
  background-color: var(--background-primary-color);
}

.header .logo-site {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  transition: 500ms ease;
}

.header .logo-site #logo-song2bar {
  background-color: transparent;
  transition: 500ms ease;
  cursor: pointer;
}

.header .logo-site #logo-song2bar:hover {
  transform: scale(130%);
}

.header #logo-home {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-connexion-container {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.logo-connexion-button {
  background-color: transparent;
}

.header h3 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.header .navigation-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header nav {
  display: flex;
  gap: 20px;
}

.button-profile {
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
  padding: 0.6rem 1.6rem;
  cursor: pointer;
}

.button-events {
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: var(--button-primary-color);
  color: var(--background-secondary-color);
  padding: 0.6rem 1.6rem;
  cursor: pointer;
}

@media screen and (width <= 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .logo-song2bar {
    order: 1;
    margin-bottom: 1rem;
  }

  .connexion-wrapper {
    order: 2;
    margin-left: 1rem;
  }

  .logo-connexion-button {
    background-color: #23241f;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
  }
}
