.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header .search-bar {
  border-radius: 35px;
  background-color: #ebd2a4;
  font-size: 1rem;
  width: 38rem;
  max-width: 600px;
  height: 4.5rem;
  padding: 20px;
}

.connexion-wrapper {
  display: flex;
  justify-content: flex-end;
}

.logo-connexion-button {
  background-color: #23241f;
  margin-right: 1rem;

  margin-bottom: 6rem;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}
.header .logo-connexion {
  margin-bottom: 8rem;
}

.user-role-container {
  position: absolute;
  top: 100%;
  right: 15px;
  z-index: 10;
}

@media screen and (width <= 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .logo-song2bar {
    order: 1;
    margin-bottom: 1rem;
  }

  .connexion-wrapper {
    order: 2;
    margin-left: 1rem;
  }

  .search-bar {
    order: 3;
    width: 90%;
    max-width: 100%;
  }
  .logo-connexion-button {
    background-color: #23241f;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
  }
}
