.horizontal-calendar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #ebd2a4;
  border-radius: 8px;
  justify-content: center;
}

.day-button {
  background: none;
  border: none;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 6px;
  text-align: center;
  min-width: 50px;
  font-family: inherit;
}

.day-button:hover {
  background-color: #ddd;
}

.day-button.active {
  background-color: #333;
  color: white;
}

.calendar-container {
  max-width: 60vw;
  height: 6rem;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.calendar-icon-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 19rem;
  height: 3.5rem;
  background-color: black;
  color: white;
  margin-left: 40px;
}

.selected-date {
  color: #aa682e;
  font-weight: bold;
}
.arrow-button {
  border: none;
  background: none;
}

@media screen and (max-width: 1024px) {
  .calendar-container {
    max-width: 70vw;
    height: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    background-color: white;
  }
  .calendar-icon-button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 19rem;
    background-color: black;
    color: white;
    margin-left: 0px;
  }
}
