.date-button {
  border-radius: 50px;
  background-color: #aa682e;
  color: #ebd3a4;
  width: 450px;
  height: 90px;
  font-size: 3rem;
  display: block;
  margin: auto;
}

.calendar-modal {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
